{% extends "maths/base.html" %}
{% block content %}
    <!-- Jumbotron -->
<div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/forest2.jpg);">
    <div class="text-white text-center rgba-stylish-strong py-5 px-4">
      <div class="py-5">
  
        <!-- Content -->
        <h2 class="h5 orange-text"><i class="fas fa-infinity"></i> MATH HUB <i class="fas fa-infinity"></i></h2>
        <h2 class="card-title h2 my-4 py-2">TOPICS</h2>
        <!-- <p class="mb-4 pb-2 px-md-5 mx-md-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur obcaecati vero aliquid libero doloribus ad, unde tempora maiores, ullam, modi qui quidem minima debitis perferendis vitae cumque et quo impedit.</p> -->
        <!-- <a class="btn peach-gradient"><i class="fas fa-clone left"></i> View project</a> -->
  

        <!-- my content -->
        <div class="row">

            <div class="col-md-4">
                <h3>
                    <small>BEGINNER</small> 
                </h3><hr>
                <ul>
                    <li>
                        <h4>
                            EARLY MATH
                        </h4>
                    </li>
                    <li>
                        <h4>
                            ARITHMETIC
                        </h4>
                    </li>
                    <li>
                        <h4>
                            PRE-ALGEBRA
                        </h4>
                    </li>
                    <li>
                        <h4><a href="{% url 'maths-algebra' %}">ALGEBRA 1</a>
                            
                        </h4>
                    </li>
                    <li>
                        <h4>
                            GEOMETRY
                        </h4>
                    </li>
                    <li>
                        <h4>
                            ALGEBRA 2
                        </h4>
                    </li>
                    <li>
                        <h4>
                            Multivariable calculus
                        </h4>
                    </li>
                    <li>
                        <h4>
                            Linear algebra
                        </h4>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>
                    <small>ADVANCED</small> 
                </h3><hr>
                <ul>
                    <li>
                        <h4>
                            TRIGONOMETRY
                        </h4>
                    </li>
                    <li>
                        <h4>
                            PRE-CALCULUS
                        </h4>
                    </li>
                    <li>
                        <h4>
                            STATISTICS AND PROBABILITY
                        </h4>
                    </li>
                    <li>
                        <h4>
                            AP®︎ Calculus AB
                        </h4>
                    </li>
                    <li>
                        <h4>
                            AP®︎ Calculus BC
                        </h4>
                    </li>
                    <li>
                        <h4>
                            AP®︎ Statistics
                        </h4>
                    </li>
                    <li>
                        <h4>
                            Differential equations
                        </h4>
                    </li>
                    
                </ul>
            </div>
            <div class="col-md-4">
                <h3>
                    <small>MATH BY GRADE</small> 
                </h3><hr>
                <ul>
                    <li>
                        <h4>
                            Kindergarten
                        </h4>
                    </li>
                    <li>
                        <h4>
                            1st grade
                        </h4>
                    </li>
                    <li>
                        <h4>
                            2nd grade
                        </h4>
                    </li>
                    <li>
                        <h4>
                            3rd grade
                        </h4>
                    </li>
                    <li>
                        <h4>
                            4th grade
                        </h4>
                    </li>
                    <li>
                        <h4>
                            5th grade
                        </h4>
                    </li>
                    <li>
                        <h4>
                            6th grade
                        </h4>
                    </li>
                    <li>
                        <h4>
                            Illustrative Mathematics
                        </h4>
                    </li>
                    <li>
                        <h4>
                            Eureka Math/EngageNY
                        </h4>
                    </li>
                    <li>
                        <h4>
                            High school
                        </h4>
                    </li>
                </ul>
            </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
{% endblock content %}
